# Backend NestJS
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/meu_projeto_db"
JWT_SECRET="seu_jwt_secret_super_seguro"
JWT_EXPIRES_IN="8h"
QR_SECRET="jwt_secret_ephemera_para_qr"
GOOGLE_CLIENT_ID="seu-google-client-id.apps.googleusercontent.com"
